{% extends '_inner.twig'%}
{% import 'tags.macro.twig' as output %}
{% block title%}
    Origin Jumpworks {{ item.name | title }}
{% endblock %}

{% block content%}
    <div class="container">
        <div class="divPanel page-content">
            <div class="row-fluid">
                <h1>{{ item.name }}</h1>
                <p>Sales started at {{ item.dateProduction | date('d.m.Y') }}</p>
                <h5>Tags: {{ output.get(item.tags) }}</h5>
                {% include 'product.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block recommended %}
    <div id="contentOuterSeparator"></div>
    <div class="container">
        <div class="divPanel page-content">
            <div class="row-fluid">
                <h3>Also we recommend to look at</h3>
                {% for item in storage %} {# TODO добавить функцию выбора по совпадающим тегам, она должна возвращать коллекцию#}
                    {% include 'element.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}