{% macro get(items) %}
    {% for item in items|batch(1, '') %}
        {% set separator = ',' %}
        {% if loop.last %}
            {% set separator = '' %}
        {% endif %}
        <a href="#">
            <span class="label label-default">{{ item|join('') }}{{ separator }}</span>
        </a>
    {% endfor %}
{% endmacro %}
